<ion-view view-title="Announcements">
        <ion-nav-buttons side="right">
            <!--<button class="button button-icon button-clear ion-more" ng-click="openPopover($event);"></button>-->
            <button class="button button-icon icon ion-compose" ng-show="user.login" ng-click="showAnnouncement()"></button>
        </ion-nav-buttons>

    <ion-content class="rm-background">
        <ion-refresher pulling-text="Pull to refresh..." refreshing-text="Retrieving Announcements!" on-refresh="doRefresh()"></ion-refresher>
        <div class="card rm-card" ng-repeat="item in data.announcements" on-double-tap="showAnnouncement(item.doc)">
            <div class="item item-divider" ng-class="{'item-assertive':item.doc.severity == 'High','item-energized':item.doc.severity == 'Medium'}">
                {{item.doc.title}}
                {{item.doc.severity}}
            </div>
            <div class="item item-text-wrap">
                <p> Please be advised that ebMS3 services in ATO EVTE are currently unavailable. This is being investigated as a high priority. (Infra 1851506)
                <p><strong> {{item.doc.user}} - {{item.doc.lastmodified|date:'MM/dd/yyyy @ h:mma'}}</strong>
            </div>
        </div>
        <!--<div class="card rm-card reveal-animation" can-swipe="true" on-swipe="onSwipe()" ng-hide="checked">
            <div class="item item-divider item-balanced ">
                PROD2 AWS - 3:14 PM
            </div>
            <div class="item item-text-wrap">
                <p>Servive restored. All servives are available.
            </div>
        </div>
        <div class="card rm-card">
            <div class="item item-divider item-energized">
                PROD - 2:35 PM
            </div>
            <div class="item item-text-wrap">
                <p>Please be advised that ebMS3 services in ATO PROD are currently running slow. Some transactions are timing out. This is being investigated as a high priority. (Infra 1851506)
            </div>
        </div>
        <div class="card rm-card">
            <div class="item item-text-wrap item-divider item-light">
                PROD - 2016-05-10 07:00 AM - 05:00 PM
            </div>
            <div class="item item-text-wrap">
                <p>Please be advised that ebMS3 services in ATO PROD are not available due to sxhedule Maintenance. (Infra 1851506)
            </div>
        </div>-->
    </ion-content>
</ion-view>
