<ion-view view-title="Contacts">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." refreshing-text="Retrieving contacts!" on-refresh="doRefresh()"></ion-refresher>
        <div class="list card rm-contacts">
            <a class="item item-icon-left" ng-repeat="item in data.contacts" name="{{item.phone}}" ng-click="onSelect(item)">
                <i class="icon ion-ios-telephone"></i> {{item.doc.name}} <p> {{item.doc.phone}} </p>
            </a>
        </div>
    </ion-content>
</ion-view>