<ion-view view-title="Home">
    <ion-content class="rm-background" scroll="false">
        <div class="card rm-wide-card">
            <div class="item">
                <a class="item item-avatar rm-dashboard-avatar rm-colour-blue" href="#">
                    <img src="img/randm-slate-blue.jpg">
                    <h2>Gihan Kannangara</h2>
                    <p>I'm keeping an eye!.</p>
                </a>
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-sad"></i> Need Help with mocks
                </a>
            </div>
        </div>
        <div class="card rm-card rm-wide-card">
            <div class="item item-divider item-light">
                EVTE
            </div>
            <div class="item item-text-wrap">
                <div class="row rm-dashboard-card rm-colour-purple">
                    <div class="col">
                        <a class="tab-item tabs-icon-left tab-item-active">
                            <i class="icon ion-android-notifications"> <span class="rmbadge badge-assertive">1</span></i>Notification
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item">
                            <i class="icon ion-android-warning"></i>Incident
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item tab-item-active">
                            <i class="icon ion-stats-bars"> <span class="rmbadge badge-assertive">3</span></i>Monitoring
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rm-card rm-wide-card">
            <div class="item item-divider item-light">
                PROD
            </div>
            <div class="item item-text-wrap">
                <div class="row rm-dashboard-card rm-colour-teal">
                    <div class="col">
                        <a class="tab-item tabs-icon-left">
                            <i class="icon ion-android-notifications"> </i>Notification
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item tab-item-active">
                            <i class="icon ion-android-warning"> <span class="rmbadge badge-assertive">1</span></i>Incident
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item">
                            <i class="icon ion-stats-bars"> </i>Monitoring
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rm-bottom-card rm-wide-card">
            <div class="item item-text-wrap">
                <img src="img/creative-commons/by-nc-sa.svg"><br/>
                This work is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-sa/4.0/.
            </div>
        </div>
    </ion-content>
</ion-view>
