<ion-view view-title="Home">
    <ion-content class="rm-background" >
        <ion-refresher pulling-text="Pull to refresh..." refreshing-text="{{data.dashboard.loading}}" on-refresh="pullRefresh()"></ion-refresher>
        <div class="card rm-wide-card">
            <div class="item">
                <div class="item item-avatar rm-dashboard-avatar rm-colour-blue" href="#">
                    <img src="img/randm-slate-blue.jpg">
                     <p>R&M on-call</p>
                    <h2>{{data.dashboard.oncalluser}}</h2>
                </div>
                <ion-toggle ng-model="data.autoRefreshMode" toggle-class="toggle-calm" ng-change="autoRefreshChanged()"><strong>{{data.refreshtext}}</strong></ion-toggle>
            </div>
        </div>
        <div class="card rm-card rm-wide-card">
            <div class="item item-divider item-light">
                EVTE
            </div>
            <div class="item item-text-wrap">
                <div class="row rm-dashboard-card rm-colour-purple">
                    <div class="col">
                        <a class="tab-item tabs-icon-left" ng-class="{'tab-item-active':data.dashboard.prodstate.notifications}" ng-click="changeSate('app.notifications',data.dashboard.evtestate.notifications)">
                            <i class="icon ion-android-notifications"> <span class="rmbadge badge-assertive" ng-show="data.dashboard.evtestate.notifications">{{data.dashboard.evtestate.notifications}}</span></i>Notification
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item" ng-class="{'tab-item-active':data.dashboard.evtestate.incidents}" ng-click="changeSate('app.incidents',data.dashboard.evtestate.incidents)">
                            <i class="icon ion-android-warning" ><span class="rmbadge badge-assertive" ng-show="data.dashboard.evtestate.incidents">{{data.dashboard.evtestate.incidents}}</span></i>Incident
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item" ng-class="{'tab-item-active':data.dashboard.evtestate.monitoring}"  ng-click="changeSate('app.monitoringSummary',data.dashboard.evtestate.monitoring)">
                            <i class="icon ion-stats-bars"> <span class="rmbadge badge-assertive" ng-show="data.dashboard.evtestate.monitoring">{{data.dashboard.evtestate.monitoring}}</span></i>Monitoring
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rm-card rm-wide-card">
            <div class="item item-divider item-light">
                PROD
            </div>
            <div class="item item-text-wrap">
                <div class="row rm-dashboard-card rm-colour-teal">
                    <div class="col">
                        <a class="tab-item tabs-icon-left" ng-class="{'tab-item-active':data.dashboard.prodstate.notifications}" ng-click="changeSate('app.announcements', data.dashboard.prodstate.notifications)">
                            <i class="icon ion-android-notifications"> <span class="rmbadge badge-assertive" ng-show="data.dashboard.prodstate.notifications">{{data.dashboard.prodstate.notifications}}</span></i>Notification
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item" ng-class="{'tab-item-active':data.dashboard.prodstate.incidents}" ng-click="changeSate('app.incidents', data.dashboard.prodstate.incidents)">
                            <i class="icon ion-android-warning" ><span class="rmbadge badge-assertive" ng-show="data.dashboard.prodstate.incidents">{{data.dashboard.prodstate.incidents}}</span></i>Incident
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item" ng-class="{'tab-item-active':data.dashboard.prodstate.monitoring}"  ng-click="changeState('app/monitoringSummary',data.dashboard.prodstate.monitoring)">
                            <i class="icon ion-stats-bars"> <span class="rmbadge badge-assertive" ng-show="data.dashboard.prodstate.monitoring">{{data.dashboard.prodstate.monitoring}}</span></i>Monitoring
                        </a>
                    </div>
            </div>
        </div>
        <div class="card rm-bottom-card rm-wide-card">
            <div class="item item-text-wrap">
                <img src="img/creative-commons/by-nc-sa.svg"><br/>
                This work is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-sa/4.0/.
            </div>
        </div>
    </ion-content>
</ion-view>
