<ion-view view-title="Home">
    <ion-content class="rm-background" scroll="false">
        <div class="card rm-wide-card">
            <div class="item">
                <a class="item item-avatar rm-dashboard-avatar rm-colour-blue" href="#">
                    <img src="img/randm-slate-blue.jpg">
                    <h2>{{data.dashboard.oncalluser}}</h2>
                    <p>I'm keeping an eye!.</p>
                </a>
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-sad"></i> {{data.dashboard.oncallimotion}}
                </a>
            </div>
        </div>
        <div class="card rm-card rm-wide-card">
            <div class="item item-divider item-light">
                EVTE
            </div>
            <div class="item item-text-wrap">
                <div class="row rm-dashboard-card rm-colour-purple">
                    <div class="col">
                        <a class="tab-item tabs-icon-left" ui-sref="{{data.dashboard.evtestate.notifications? 'app.notifications':'.'}}">
                            <i class="icon ion-android-notifications"> <span class="rmbadge badge-assertive" ng-show="data.dashboard.evtestate.notifications">{{data.dashboard.evtestate.notifications}}</span></i>Notification
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item" ng-class="{'tab-item-active':data.dashboard.evtestate.incidents}" ui-sref="{{data.dashboard.evtestate.incidents?'app.incidents':'.'}}">
                            <i class="icon ion-android-warning" ><span class="rmbadge badge-assertive" ng-show="data.dashboard.evtestate.incidents">{{data.dashboard.evtestate.incidents}}</span></i>Incident
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item" ng-class="{'tab-item-active':data.dashboard.evtestate.monitoring}"  ui-sref="{{data.dashboard.evtestate.monitoring?'app.monitoring':'.'}}">
                            <i class="icon ion-stats-bars"> <span class="rmbadge badge-assertive" ng-show="data.dashboard.evtestate.monitoring">{{data.dashboard.evtestate.monitoring}}</span></i>Monitoring
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rm-card rm-wide-card">
            <div class="item item-divider item-light">
                PROD
            </div>
            <div class="item item-text-wrap">
                <div class="row rm-dashboard-card rm-colour-teal">
                    <div class="col">
                        <a class="tab-item tabs-icon-left" ui-sref="{{data.dashboard.prodstate.notifications? 'app.notifications':'.'}}">
                            <i class="icon ion-android-notifications"> <span class="rmbadge badge-assertive" ng-show="data.dashboard.prodstate.notifications">{{data.dashboard.pordtate.notifications}}</span></i>Notification
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item" ng-class="{'tab-item-active':data.dashboard.prodstate.incidents}" ui-sref="{{data.dashboard.prodstate.incidents?'app.incidents':'.'}}">
                            <i class="icon ion-android-warning" ><span class="rmbadge badge-assertive" ng-show="data.dashboard.prodstate.incidents">{{data.dashboard.prodstate.incidents}}</span></i>Incident
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item" ng-class="{'tab-item-active':data.dashboard.prodstate.monitoring}"  ui-sref="{{data.dashboard.prodstate.monitoring?'app.monitoring':'.'}}">
                            <i class="icon ion-stats-bars"> <span class="rmbadge badge-assertive" ng-show="data.dashboard.prodstate.monitoring">{{data.dashboard.prodstate.monitoring}}</span></i>Monitoring
                        </a>
                    </div>
            </div>
        </div>
        <div class="card rm-bottom-card rm-wide-card">
            <div class="item item-text-wrap">
                <img src="img/creative-commons/by-nc-sa.svg"><br/>
                This work is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-sa/4.0/.
            </div>
        </div>
    </ion-content>
</ion-view>
