<ion-view view-title="Login">
    <ion-content>
        <ion-content class="rm-background">
            <div class="row row-center rm-background rm-login">
                <div class="col">
                    <div class="rm-login"><img src="img/randm-slate-blue.jpg">
                    <h3>R & M Support</h3>
                    <div class="item item-assertive" ng-hide="loginSuccess">Failed login</div>
                    <h4>Sign in with your Google or Facebook Account</h4>
                    </div>
                    <div class="list">
                        <div class="item">
                            <button type="button" class="button button-block rm-google" ng-click="googleLogin();$event.stopPropagation();">Sign in with Google</button>
                            <button type="button" class="button button-block rm-fb" ng-click="facebookLogin();$event.stopPropagation();">Log in with Facebook</button>
                            <button class="button button-block button-positive" ng-click="anonymousLogin()">Log in Anonymous</button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-content>
</ion-view>