<ion-view view-title="Logout">
    <ion-content>
        <ion-content class="rm-background">
            <div class="row row-center rm-background rm-login">
                <div class="col">
                    <div class="rm-login"><img ng-src="{{user.photo}}">
                    <h3>R & M Support</h3>
                    <h4>You have logged in with your {{user.account}} Account</h4>
                    </div>
                    <div class="list">
                        <div class="item">
                            <button class="button button-block button-positive" ng-click="logout()">Log Out</button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-content>
</ion-view>