<ion-view view-title="Settings">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        Auto Refresh Settings
      </div>
      <label class="item item-input item-select">
        <div class="input-label">
          Auto Refresh Interval (Minutes)
        </div>
        <select name="AutoRefreshInterval" id="AutoRefreshInterval" ng-model="data.autoRefreshInterval" ng-change="onChangeRefreshInterval()">
          <option ng-repeat="item in data.refreshIntervalSelect" value="{{item.value}}" >{{item.text}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
         Auto Refresh Count
        </div>
        <select name="AutoRefreshCount"  id="AutoRefreshCount" ng-model="data.autoRefreshCount" ng-change="onChangeRefreshCount()">
          <option ng-repeat="item in data.refreshCountSelect" value="{{item.value}}">{{item.text}}</option>
        </select>
      </label>
   </div>

  </ion-content>
</ion-view>